name: Push to Main
on:
  push:
    branches: ["main"]

jobs:
  test:
    uses: ./.github/workflows/_unit_tests.yml

  update-images:
    uses: ./.github/workflows/_update_images.yml
    secrets:
      gh_token: ${{ secrets.GIT_ADMIN_TOKEN }}

  update-readme:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - uses: ./.github/actions/update_readme
        with:
          github_token: ${{ secrets.GIT_ADMIN_TOKEN }}