name: Push to Release Branch
on:
  push:
    branches: ["release/*"]

jobs:

  version-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - id: validate_version_trigger
        uses: ./.github/actions/validate_version_trigger
      - uses: ./.github/actions/check_if_tag_exists
        with:
          tag: "v${{ steps.validate_version_trigger.outputs.package_version }}"
          fail_if_exists: "true"

  update-readme:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    outputs:
      readme_updated: ${{ steps.update_readme_step.outputs.readme_updated }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - uses: ./.github/actions/update_readme
        with:
          github_token: ${{ secrets.GIT_ADMIN_TOKEN }}
          fail_if_updated: 'true'

  update-images:
    needs:
     - version-checks
     - update-readme
    uses: ./.github/workflows/_update_images.yml
    secrets:
      gh_token: ${{ secrets.GIT_ADMIN_TOKEN }}

  test:
    needs:
     - version-checks
     - update-readme
    uses: ./.github/workflows/_unit_tests.yml

  tag-as-release:
    name: tag as release
    needs:
     - update-images
     - test
    runs-on: ubuntu-latest
    steps:
      - name: Full checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0  # fetch all history and tags

      - uses: astral-sh/setup-uv@v7

      - name: Create tag via API
        env:
          GH_TOKEN: ${{ secrets.GIT_ADMIN_TOKEN }}
        run: |
          TAG="v$(uv version --short)"
          COMMIT_SHA="${{ github.sha }}"
          
          gh api repos/${{ github.repository }}/git/refs \
            -f ref="refs/tags/${TAG}" \
            -f sha="${COMMIT_SHA}"